<div data-index class="row mb-3">
    <div class="d-flex col-1 justify-content-center align-items-center">
        <i class="material-icons text-danger p-1 btn-like" data-collection-remove>clear</i>
    </div>
    <div class="col-3 d-flex flex-column">
        <label>
            <small>
                Key Responsibilities:
            </small>
        </label>
        <textarea class="form-control flex-grow-1" name="appraisal[part_d][__name__][key_respon]"></textarea>
    </div>
    <div class="col-3 d-flex flex-column">
        <label>
            <small>
                Goals
            </small>
        </label>
        <textarea class="form-control flex-grow-1" name="appraisal[part_d][__name__][goal_name]"></textarea>
    </div>
    <div class="col-4 d-flex flex-column">
        <label>
            <small>
                Measurements
            </small>
        </label>
        <textarea class="form-control flex-grow-1" name="appraisal[part_d][__name__][measurement_name]"></textarea>
    </div>
    <div class="col-1">
        <div class="row mb-2">
            <div class="">
                <label>
                    <small>
                        Weight (%)
                    </small>
                </label>
                <input type="number" class="form-control" name="appraisal[part_d][__name__][goal_weight]"/>
            </div>
        </div>
        <div class="row">
            <div class="">
                <label>
                    <small>
                        Completion Date
                    </small>
                </label>
                <input type="text" class="form-control" name="appraisal[part_d][__name__][complete_date]"/>
            </div>
        </div>
    </div>
</div>