{% extends 'component/view/base.html.twig' %}

{% block css %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/appraisal/form.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="appraisal-wrapper">

    </div>

{% endblock %}

{% block modal %}
{% endblock %}
