<div data-index class="row mb-3">
    <div class="d-flex col-1 justify-content-center align-items-center">
        <i class="material-icons text-danger p-1 btn-like" data-collection-remove>clear</i>
    </div>
    <div class="col-3 d-flex flex-column">
        <label>
            <small>
                Key Responsibilities or Objectives:
            </small>
        </label>
        <textarea class="form-control flex-grow-1" name="appraisal[part_a][__name__][respon_name]"></textarea>
    </div>
    <div class="col-3 d-flex flex-column">
        <label>
            <small>
                Achievements/Results Achieved
            </small>
        </label>
        <textarea class="form-control flex-grow-1" name="appraisal[part_a][__name__][respon_result]"></textarea>
    </div>
    <div class="col-4 d-flex flex-column">
        <label>
            <small>
                Comments by Appraising Officer
            </small>
        </label>
        <textarea class="form-control flex-grow-1" name="appraisal[part_a][__name__][respon_comment]"></textarea>
    </div>
    <div class="col-1">
        <div class="row mb-2">
            <div class="">
                <label>
                    <small>
                        Weight (%)
                    </small>
                </label>
                <input type="number" class="form-control" name="appraisal[part_a][__name__][respon_weight]"/>
            </div>
        </div>
        <div class="row">
            <div class="">
                <label>
                    <small>
                        Score
                    </small>
                </label>
                <input type="number" class="form-control" name="appraisal[part_a][__name__][respon_score]"/>
            </div>
        </div>
    </div>
</div>