{% extends 'component/view/base.html.twig' %}

{% block css %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8 offset-2">
            <div class="row">
                <div class="col title">
                    Current Appraisals
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        {% for period in pList %}
                            <li>
                                <a href="{{ path("appraisal_list", {"period": period.id}) }}">{{ period.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col title">
                    Previous Appraisals
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        {% for period, app in list %}
                            <li>
                                <a href="{{ path("appraisal_view", {"id": app.id}) }}">{{ period }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modal %}
{% endblock %}
