{% extends 'component/view/base.html.twig' %}

{% block css %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/appraisal/view.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="appraisal-wrapper">
        {{ form(form) }}
    </div>

    <div class="row">
        <div class="col position-fixed fixed-bottom text-center p-0">
            <div id="status-bar" class="bg-success text-white" style="transition: 0.7s all">
                Saved
            </div>
        </div>
    </div>
{% endblock %}