{% extends 'component/view/base.html.twig' %}

{% block css %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="appraisal-wrapper">
        {{ form(form) }}
    </div>
{% endblock %}